@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --color-background: #eeeeee;
  --color-dark: #444444;
  --color-secondary: #FFF;
  --color-ind-up: #2ecc71;
  --color-ind-stay: #e74c3c;
  --color-ind-down: #f1c40f;
  --navbar-color-active: rgb(255,255,255,0.1);
  --navbar-color-hover: rgb(255,255,255,0.3);
  --navbar-anim-transition: 0.3s;
  --navbar-size: 60px;
  --navbar-open-size: 325px;
  --navbar-icon-padding: 10px;
  --navbar-text-font: 20px 'Microsoft Sans Serif';
}

body, head, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--color-background);
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: var(--navbar-size);
  height: 100vh;
  background-color: var(--color-dark);
  -webkit-transition: var(--navbar-anim-transition);
  transition: var(--navbar-anim-transition);
}

navbar * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

navbar navheader .nav-header-icon {
  -webkit-transition: var(--navbar-anim-transition);
  transition: var(--navbar-anim-transition);
  padding: var(--navbar-icon-padding);
  width: calc(var(--navbar-size) - var(--navbar-icon-padding) * 2);
  height: calc(var(--navbar-size) - var(--navbar-icon-padding) * 2);
}

navbar navheader .nav-header-icon:hover {
  background-color: var(--navbar-color-hover);
}

navbar navitems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--navbar-size))[auto];
      grid-template-columns: repeat(auto, var(--navbar-size));
}

navbar navitems * {
  text-decoration: none;
}

navbar navitems a.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: var(--navbar-anim-transition);
  transition: var(--navbar-anim-transition);
}

navbar navitems a.nav-item .nav-item-icon {
  margin: var(--navbar-icon-padding);
  width: calc(var(--navbar-size) - var(--navbar-icon-padding) * 2);
  height: calc(var(--navbar-size) - var(--navbar-icon-padding) * 2);
}

navbar navitems a.nav-item .nav-item-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font: var(--navbar-text-font);
  color: var(--color-secondary);
}

navbar navitems a.nav-item-active {
  background-color: var(--navbar-color-active);
}

navbar navitems a.nav-item:hover {
  background-color: var(--navbar-color-hover);
}

navbar.nav-open {
  width: var(--navbar-open-size);
}

navbar.nav-open navheader .nav-header-icon {
  width: calc(var(--navbar-open-size) - var(--navbar-icon-padding) * 2);
  height: calc(var(--navbar-open-size) - var(--navbar-icon-padding) * 2);
}

#content {
  font-family: 'Microsoft Sans Serif';
  font-size: 7vh;
  overflow-y: auto;
  margin-left: var(--navbar-size);
  width: calc(100% - var(--navbar-size));
  height: 100%;
  max-height: 100%;
  min-height: 0;
  font-family: 'Roboto';
}

#content #content-header {
  width: 100%;
  height: 40vh;
  margin-bottom: 10px;
}

#content #content-header .header-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#content #content-header .header-text div {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
}

#content .card-title {
  font-weight: 300;
  font-family: 'Roboto';
  margin-bottom: 10px;
  font-size: 30px;
}

#content .info-card {
  background: var(--color-secondary);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
}

#content .info-card .card-content {
  font-size: 20px;
  font-family: 'Roboto';
}

#content .split-half {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#content .up {
  color: var(--color-ind-up);
}

#content .stay {
  color: var(--color-ind-down);
}

#content .down {
  color: var(--color-ind-stay);
}

#content #multi-crypto-card {
  background: var(--color-secondary);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
}

#content #multi-crypto-card .card-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  font-size: 25px;
}

#content #multi-crypto-card .card-content .currency_elem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 1fr;
      grid-template-columns: 50px 1fr 1fr;
}

#content #multi-crypto-card .card-content .currency_elem .coin_icon {
  margin: 5px;
  width: calc(50px - 10px);
  height: calc(50px - 10px);
}

#content #multi-crypto-card .card-content .currency_elem .name {
  margin-left: 10px;
  line-height: 50px;
}

#content #multi-crypto-card .card-content .currency_elem .value {
  line-height: 50px;
}

#content #single-crypto-card {
  /*
            Samme greia som forrrige gang
            kanskje jeg burde ha en class som gjorde at jeg slapp å måtte skrive dette så mange ganger
        */
  background: var(--color-secondary);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
}

#content #single-crypto-card .card-content .value {
  font-size: 40px;
}

#content #single-crypto-card .card-content .change {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */